#heading{
    color: rgb(226, 43, 73);
    background-color: black;
}
body{
    background-color: peachpuff;
}
.text{
    color: orangered;
    background-color: rgb(32, 27, 16);
}

button{
    color: rgb(250, 250, 250);
    background-color: rgb(255, 11, 11);
}