div{
    height: 100px;
    width: 100px;
    background-color:rgb(255, 173, 255);
    color: rgb(0, 0, 0);
    border: 1px solid black;
    text-align: center;
}

.dark-theme{
    background-color: black;
    color: white;
}
.light-theme{
    background-color: white;
    color: black;
}